" to set vim sane configs
set incsearch
set hlsearch
set ignorecase
set smartcase

" to share vim yank with clipboard
set clipboard=unnamed
set multiple-cursors

let mapleader=","
noremap <Leader> :action AceAction<CR>